@using Collab.Models
@model IndexModel

@{
  ViewBag.Title = "Current";
  int width = Model.ImageList.GetLength(0);
  int height = Model.ImageList.GetLength(1);
}

<div id="artContainer" style="width: @(width * 64)px; height: @(height * 64)px;">
  @for(int Y = 0; Y < height; Y++)
  {
    for (int X = 0; X < width; X++)
    {
      Tile tile = Model.ImageList[X, Y];
      
      <div class="tile" data-x="@X" data-y="@Y">
        @if (tile != null)
        {
          <img src="@Url.Content("~/UploadedImages/Current/" + tile.ImagePath)" />
        }
        else
        {
          <img src="@Url.Content("~/Content/Images/unassigned.png")" class="unassigned" />
        }
      </div>
    }
  }
</div>

<div id="artUpload">
  
</div>