@using Extensions
@model Collab.Models.UploadModel

<div id="uploader">
  @if (Model.IsSuccessful.IsNotTrue())
  {
    <form enctype = "multipart/form-data" action ="Upload" method ="post">
      @Html.HiddenFor(x => x.X)
      @Html.HiddenFor(x => x.Y)
     
      <p> 
        @Html.LabelFor(x=>x.Resize, "Resize image to 64 x 64?")
        @Html.CheckBoxFor(x=>x.Resize)
      </p>
      
      <p>
        <input type="file" name="File" id="File" />
      </p>
      
      <p>
        <input type="submit" id="submit" class="button" />
        <input type="button" value="Cancel" id="cancel" class="button" />
      </p>
    </form>
  }
  
  @if (Model.IsSuccessful.IsTrue())
  {
    <h2 data-imageUrl="@Model.ImageUrl" id="successMessage">Success!</h2>
  }
  else if(Model.IsSuccessful.IsFalse())
  {
    <h3>@Model.ErrorMessage</h3>
  }
</div>