@using Extensions
@model Collab.Models.UploadModel

<div id="uploader">
  @if (Model.IsSuccessful.IsNotTrue())
  {
    <form enctype = "multipart/form-data" action ="Upload" method ="post">
      @Html.HiddenFor(x => x.X)
      @Html.HiddenFor(x => x.Y)
     
      <p> 
        @Html.LabelFor(x=>x.Resize, "Resize image to 64 x 64?")
        @Html.CheckBoxFor(x=>x.Resize)
      </p>
      
      <p>
        <label class="button add-photo-button">
          <span>
            Browse
          </span>
          <span>
            <input type="file" id="File" name="File" />
          </span>
        </label>
        <input type="text" id="path" />
      </p>
      
      <p class="formSubmit">
        <input type="submit" id="submit" class="button" />
        <input type="button" value="Cancel" id="cancel" class="button" />
      </p>
    </form>
  }
  
    @if (Model.IsSuccessful.IsTrue())
    {
      <span data-imageUrl="@Model.ImageUrl" id="successMessage">Success!</span>
    }
    else if(Model.IsSuccessful.IsFalse())
    {
      <span>@Model.ErrorMessage</span>
    }

</div>